/.terraform.tfvars

/.MyKeyPairOne.pem

/.subnets.json

/.terraform.tfstate

/.terraform.tfstate.backup

.terraform/

/.secrets.tf

インフラ構成図.drawio

インフラ構成図2.drawio

.terraform.tfstate.lock.info

.terraform.lock.hcl